body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18 px;
    color: black;
    font-weight: 400;
    font-style: normal;
    height: 100%;
}

.row{
    margin-right:0;
}

a { 
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: rgb(82, 66, 102);
    /* color: rgba(219, 197, 84) */
    /* color: rgba(169, 169, 169); */
}

.container-fluid{
    line-height: 24px;
    /* padding: 7% 10%; */
}

/* Header */
.header {
    /* position: relative;
    display: block; */
    position: absolute;
    top: 0%;
    width: 100%;
    background-color: none;
    color: white;
    height: 80px;
    background: transparent;

}

.logo {
    position: absolute;
    top: 20px; 
    left: 25px;
    height: 100%;
}

nav{
    position: absolute;
    top: 10px; right: 15px;
}

nav, nav ul, nav ul li {
    margin: 0;
    padding: 10;
}

ul li{
    list-style-type: none;
    display: inline-block;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;

}

nav a {
    font-size: 18px;
    /* font-weight: bold; */
    letter-spacing: 1px;
    line-height: normal;
    color: white;
    padding: 10px;
}

/* Footer */
.footer{
    background-color: #676569;
    opacity: 80%;
    height: 200px;
    color: white;
    text-align: center;
    padding: 5%;
}

.icon{
    width: 30px;
    margin: 1%;
}

/* Homepage */
.overlay {
    background-color: rgba(0,0,0, .6) !important;
}

.frontpage {
    /* background-image: url("images/homepage-background.JPG"); */
    background-image: url("images/homepage-background-purple-cropped.jpg");
    background-position: 80% 20%;
    background-size: cover;
    min-height: 800px;
    width: 100%;
    filter: blur(1.8px);
    color: white;
    /* background-blend-mode: darken !important; */
    height: 100%;
    background-position: center;
    background-position-y: 33%;
    background-repeat: no-repeat;
    background-size: cover;

    /* background-position-x: 10%; */


}

.SWE-intro {
    line-height: 70px;
    font-size: 60px;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.SWE-motto{
    font-size: 30px;
    line-height: 30px;
}

.subheading {
    /* font-weight: bold; */
    font-size: 18px;
    line-height: 23px;
}

h2 {
    font-weight: bold;
    font-size: 40px;
}

/* .subheading {
    font-size: 20px;
    padding-bottom: 20px;
} */

.subcontent {
    padding-top: 20px;
    /* padding-top: 0px; */
}

.description {
    font-size: 18px;
    line-height: 28px;
}

.rightcol {
    padding: auto;
}

#infographic{
    width: 90%;
    align-self: center;
    margin: auto;
    margin-left: 5%;
    padding: 10px;
}

.vertcenter-helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.leftcol {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/* Mission */
.row.row-container{
    text-align: center;
    display: block;
}

.row-heading{
    display: inline-block;
    font-weight: bold;
    font-size: 40px;
}

.mission{
    /* background-color: rgb(90,83,119); */
    /* background-color: rgb(219,197,84); */
    /* background-color: rgb(169,169,169); */
    background-color: #676569;
    color: white;
    opacity: 65%;
}

.row-description{
    display: block;
    width: 70%;
    margin: auto;
    font-size: 19px;
    line-height: 28px;
}

.container-fluid {
    padding: 5% 10%;
}

.colored-text {
    color: rgb(235, 214, 109);
}

/* Event Highlights */
.col-lg-4{
    padding-right: 25px;
    padding-left: 25px;
}

.highlight-container{
    padding-bottom: 16px;
}

.highlight-image-1, .highlight-image-2, .highlight-image-3{
    height: 320px;
    /* width: 80%; */
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top: 30px;
    background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0) 70%, white 100%), url('images/fa19/2019-SWEek-of-Welcome.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border-top-left-radius: 15px;
    border-top-right-radius: 15px; */
}

.highlight-image-2{
    background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0) 70%, white 100%), url('images/fa19/2019-WIE-Day.JPG');
}

.highlight-image-3{
    background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0) 70%, white 100%), url('images/fa19/2019-WE19.JPG');
    background-position-y: 80%;
}

#highlight-header {
    padding: 10px 0px;
}

.highlight-text {
    padding: 10px 18px;
}

.highlight-title {
    font-size: 23px;
    font-weight: bold;
}

.highlight-blurb {
    padding: 10px 0px;
    font-size: 13.5px;
}

#read-more{
    padding: 25px;
    font-size: 18px;
    opacity: 50%;
}

/* Join SWE */
.container-fluid.join-swe{
    padding: 0%;
}

.join-swe .leftcol{
    /* background-color: 	#5E587A; */
    background-color:#666082;
    /* opacity: 90%; */
    color: white;
    padding: 7% 5% 7% 11%;
}

.join-swe .rightcol{
    padding: 7% 8% 7% 8%;
    background-color: rgb(169,169,169, .2);
}

input{
    margin: 5% 0%;
    /* border-radius: 5px; */
    line-height: 33px;;
}

.row-spacer{
    height: 30px;
}

/* Info Session Styling */
#host_button{
    display: block;
    text-align: center;
    margin-top:20px;
    margin-bottom:20px;
}

.faq{
    background-color:#666082;
    color:white;
    padding-left:2%;
}

.subtitle{
    display: block;
    margin-left:0;
}

.link{
    color:black;
    font-weight:bold;
}

#past_sponsor_text{
    text-align: center;
    display:block;
}

.company_image{
    padding-left:0;
}

